@import url('https://fonts.googleapis.com/css?family=Roboto');

* { 
	box-sizing: border-box; 
}

body {
	margin: 0;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: #373737;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
}

.col-l-1 {width: 8.33%;} 
.col-l-2 {width: 16.66%;} 
.col-l-3 {width: 25%;} 
.col-l-4 {width: 33.33%;} 
.col-l-5 {width: 41.66%;} 
.col-l-6 {width: 50%;} 
.col-l-7 {width: 58.33%;} 
.col-l-8 {width: 66.66%;} 
.col-l-9 {width: 75%;} 
.col-l-10 {width: 83.33%;} 
.col-l-11 {width: 91.66%;} 
.col-l-12 {width: 100%;} 

.col-l-offset-0 {margin-left: 0;}
.col-l-offset-1 {margin-left: 8.33%;}
.col-l-offset-2 {margin-left: 16.66%;}
.col-l-offset-3 {margin-left: 25%;}
.col-l-offset-4 {margin-left: 33.33%;}
.col-l-offset-5 {margin-left: 41.66%;}
.col-l-offset-6 {margin-left: 50%;}
.col-l-offset-7 {margin-left: 58.33%;}
.col-l-offset-8 {margin-left: 66.66%;}
.col-l-offset-9 {margin-left: 75%;}
.col-l-offset-10 {margin-left: 83.33%;}
.col-l-offset-11 {margin-left: 91.66%;}

/*Panel nawigacji*/
header {
	min-height: 50px;
}

.navbar-header {
	width: 100%;
	min-height: inherit;
	position: fixed;
	top: 0;
	background: linear-gradient(135deg, #848383, #3f3e3e, #000000);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 8s ease infinite;
	-moz-animation: AnimationName 8s ease infinite;
	animation: AnimationName 8s ease infinite;
}

.navbar {
	position: fixed;
    left: 0;
	top: 160px;
	font-size: 16px;
}

ul {
	padding-left: 0;
}

.navbar li {
	display: block;
	list-style-type: none;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.navbar li:visited {
	background-color: #373737;
}

.navbar li:hover {
	background-color: #7C7E84;
}

.navbar li:active {
	background-color: #373737;
}

.navbar-brand {
	position: fixed;
    left: 0;
    height: 32px;
	width: 32px;
    padding: 15px 15px;
	color: #373737;
	text-transform: uppercase;
}

/*Sekcja jumbotron*/
.jumbotron {
	width: 100%;
	padding: 40px;
/*
	height: 20vh;
	min-height: 100px;
	padding-top: 40px;
*/
/*	box-sizing: border-box;*/
	background: white;
	text-align: center;
	vertical-align: middle;
}

.jumbotron > h1 {
	margin: 0 auto;
	font-size: 24px;
	max-width: 920px;
	line-height: 30px;
	padding: 0 20px;
}

/*Sekcje z projektami*/
.section_1 {
	width: 100%;
	height: auto;
	min-height: 450px;
/*	background-color: #13CE66;*/
	background: linear-gradient(135deg, #7cf2b0, #45d886, #14ad58);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 8s ease infinite;
	-moz-animation: AnimationName 8s ease infinite;
	animation: AnimationName 8s ease infinite;
}

.section_2,
.section_3,
.section_4 {
	width: 100%;
/*	height: 100vh;*/
	min-height: 450px;
}

.section_2 {
/*	background-color: #00CFE7;*/
	background: linear-gradient(135deg, #89e6f0, #00cfe7, #0797a8);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 8s ease infinite;
	-moz-animation: AnimationName 8s ease infinite;
	animation: AnimationName 8s ease infinite;
}

.section_3 {
/*	background-color: #0063E7;*/
	background: linear-gradient(135deg, #78abef, #0063e7, #06408d);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 8s ease infinite;
	-moz-animation: AnimationName 8s ease infinite;
	animation: AnimationName 8s ease infinite;
}

.section_4 {
/*	background-color: #8A45CF;*/
	background: linear-gradient(135deg, #c299eb, #a16cd6, #7f45ba);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 8s ease infinite;
	-moz-animation: AnimationName 8s ease infinite;
	animation: AnimationName 8s ease infinite;
}

.pink {
/*	background-color: #CF45CA;*/
	background: linear-gradient(135deg, #eb99e8, #d37acf, #c744c2);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 8s ease infinite;
	-moz-animation: AnimationName 8s ease infinite;
	animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
		0%{background-position:0% 4%}
		50%{background-position:100% 97%}
		100%{background-position:0% 4%}
}
@-moz-keyframes AnimationName {
	0%{background-position:0% 4%}
	50%{background-position:100% 97%}
	100%{background-position:0% 4%}
}
@keyframes AnimationName {
	0%{background-position:0% 4%}
	50%{background-position:100% 97%}
	100%{background-position:0% 4%}
}

p {
/*
	padding: 10px;
	border: 2px solid #373737;
	border-radius: 5px;
*/
	font-size: 18px;
	margin: 10px 40px;
}

.row {
	height: inherit;
/*	min-height: 450px;*/
}

/*
.col-offset-1, 
.col-l-5, 
.col-l-6 {
	height: 90%;
}
*/

/*
.col-l-6 {
	text-align: center;
}
*/

.col-l-6,
.col-l-5 {
	min-height: 450px;
	padding: 15px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

img {
	width: 100%;
	height: auto;
}

button {
	display: inline-block;
	width: 120px;
	margin: 4px 2px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	border-radius: 5px;
	cursor: pointer;
	background-color: inherit;
	background-position: 100% 0;
	background-size: 300%;
	-webkit-transition: 0.9s; 
	transition: 0.9s;
	min-height: 40px;
	color: #373737;
	border: 2px solid #373737;
}

.btn-purple {
	background-image: linear-gradient(90deg, #373737 50%, transparent 50%);
}

button.btn-angle {
	font-size: 40px;
	border: 0px none;
	padding: 0px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.fa {
	margin: 0 auto;
}

button:hover {
	background-position: 0 100%; 
	color: white;
}

button.btn-angle:hover {
	color: #373737;
}

.social_media {
	padding: 20px;
	font-size: 1.6em;
}

.fa-html5,
.fa-css3 {
	padding: 20px;
}

.row_icon {
/*	height: 10%;*/
	display: inline-block;
	width: 100%;
}

.col-l-12 {
	height: 100%;
}

.col-l-12 > .fa {
	font-size: 40px;
	width: 100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.form-control {
/*    display: block;*/
    width: 100%;
/*    height: 34px;*/
    padding: 3px 6px;
	margin: 3px;
    font-size: 16px;
    line-height: 2/*1.42857143*/;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #373737;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input {
    line-height: normal;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
}

input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}

div.black{
	background: linear-gradient(135deg, #848383, #3f3e3e, #000000);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 8s ease infinite;
	-moz-animation: AnimationName 8s ease infinite;
	animation: AnimationName 8s ease infinite;
}

i.fa-angle-double-up {
	color: white;
}

@media(max-width: 500px) {
	
	[class*="col-"] {
		width: 100%;
		float: left;
/*		display: block;*/
		min-height: 0px;
	}
	
	.col-s-1 {width: 8.33%;} 
	.col-s-2 {width: 16.66%;} 
	.col-s-3 {width: 25%;} 
	.col-s-4 {width: 33.33%;} 
	.col-s-5 {width: 41.66%;} 
	.col-s-6 {width: 50%;} 
	.col-s-7 {width: 58.33%;} 
	.col-s-8 {width: 66.66%;} 
	.col-s-9 {width: 75%;} 
	.col-s-10 {width: 83.33%;} 
	.col-s-11 {width: 91.66%;} 
	.col-s-12 {width: 100%;}
	
	.col-s-offset-0 {margin-left: 0;}
	.col-s-offset-1 {margin-left: 8.33%;}
	.col-s-offset-2 {margin-left: 16.66%;}
	.col-s-offset-3 {margin-left: 25%;}
	.col-s-offset-4 {margin-left: 33.33%;}
	.col-s-offset-5 {margin-left: 41.66%;}
	.col-s-offset-6 {margin-left: 50%;}
	.col-s-offset-7 {margin-left: 58.33%;}
	.col-s-offset-8 {margin-left: 66.66%;}
	.col-s-offset-9 {margin-left: 75%;}
	.col-s-offset-10 {margin-left: 83.33%;}
	.col-s-offset-11 {margin-left: 91.66%;}
	
	.navbar {
		top: 130px;
	}
	
	.navbar > ul > li {
		font-size: 16px;
		padding-left: 10px;
	}
	
	.jumbotron {
		text-align: center;
		padding: 20px;
	}
	 
	.jumbotron > h1 {
		font-size: 16px;
		line-height: 20px;
		padding: 0 24px;
	}
	
	h2 {
		font-size: 16px;
	}
	
	h3 {
		margin: 5px;
		font-size: 16px;
		text-align: center;
	}
	
	.section_1 {
		width: 100%;
		min-height: 350px;
/*		height: 80vh;*/
	}
	
	.col-s-12 {
		height: 45%;
		padding: 20px 30px;
		display: flex;
	}
	
	p {
		margin: 10px 5px;
	}
	
	form {
/*		height: inherit;*/
		width: auto;
	}
	.form-control {
		font-size: 14px;
		padding: 2px 6px;
		height: 34px;
	}
	
	button {
		display: inline-block;
		margin: 4px 2px;
		padding: 5px;
		font-size: 0.8em;
		min-height: 30px;
	}
	
	img {
		height: 100%;
	}
}