@import url('https://fonts.googleapis.com/css?family=Roboto');

* { 
	box-sizing: border-box; 
}

body {
	margin: 0;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: white;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
}

.col-l-1 {width: 8.33%;} 
.col-l-2 {width: 16.66%;} 
.col-l-3 {width: 25%;} 
.col-l-4 {width: 33.33%;} 
.col-l-5 {width: 41.66%;} 
.col-l-6 {width: 50%;} 
.col-l-7 {width: 58.33%;} 
.col-l-8 {width: 66.66%;} 
.col-l-9 {width: 75%;} 
.col-l-10 {width: 83.33%;} 
.col-l-11 {width: 91.66%;} 
.col-l-12 {width: 100%;} 

.col-l-offset-0 {margin-left: 0;}
.col-l-offset-1 {margin-left: 8.33%;}
.col-l-offset-2 {margin-left: 16.66%;}
.col-l-offset-3 {margin-left: 25%;}
.col-l-offset-4 {margin-left: 33.33%;}
.col-l-offset-5 {margin-left: 41.66%;}
.col-l-offset-6 {margin-left: 50%;}
.col-l-offset-7 {margin-left: 58.33%;}
.col-l-offset-8 {margin-left: 66.66%;}
.col-l-offset-9 {margin-left: 75%;}
.col-l-offset-10 {margin-left: 83.33%;}
.col-l-offset-11 {margin-left: 91.66%;}

/*Panel nawigacji*/
header {
	min-height: 50px;
	font-size: 0px;
}

.navbar-header {
	background-color: black;
	width: 100%;
	min-height: inherit;
	position: fixed;
	top: 0;
	z-index: 1;
}

.navbar {
	position: fixed;
    left: 0;
	top: 160px;
	font-size: 16px;
}

ul {
	padding-left: 0;
}

.navbar li {
	display: block;
	list-style-type: none;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
	vertical-align: middle;
/*	height: auto;*/
}

svg {
	height: 49.5px;
}

.navbar li:visited {
	background-color: #373737;
}

.navbar li:hover {
	background-color: #7C7E84;
}

.navbar li:active {
	background-color: #373737;
}

/*
.navbar-brand {
	position: fixed;
    left: 0;
    height: 32px;
	width: 32px;
    padding: 15px 15px;
}
*/

/*Sekcja jumbotron*/
.jumbotron {
	width: 100%;
	padding: 40px;
/*
	height: 20vh;
	min-height: 100px;
*/
/*	padding-top: 40px;*/
/*	box-sizing: border-box;*/
	background: white;
	text-align: center;
	vertical-align: middle;
}

.jumbotron > h1 {
	color: #373737;
	margin: 0 auto;
	font-size: 24px;
	max-width: 920px;
	line-height: 30px;
	padding: 0 20px;
}

/*Sekcje z projektami*/
.section_1 {
	width: 100%;
	min-height: 410px;
/*	min-height: 450px;*/
	background-color: #13CE66;
}

.section_2,
.section_3,
.section_4 {
	width: 100%;
	height: 100%;
	min-height: 450px;
/*	height: 100vh;*/
/*	height: auto;*/
}

.section_2 {
	background-color: #00CFE7;
}

.section_3 {
	background-color: #0063E7;
}

.section_4 {
	background-color: #8A45CF;
}

.section_5 {
	background-color: #CF45CA;
}

p {
/*
	padding: 10px;
	border: 2px solid #373737;
	border-radius: 5px;
*/
	font-size: 18px;
	margin: 10px 40px;
}

.section_1 p,
.section_2 p,
.section_3 p,
.section_1 h3,
.section_2 h3,
.section_3 h3 {
	text-align: center;
}

/*
.row {
	height: inherit;
	min-height: 450px;
}
*/

/*
.col-offset-1, 
.col-l-5, 
.col-l-6 {
	height: 90%;
}
*/

/*
.col-l-6 {
	text-align: center;
}
*/

.col-l-6,
.col-l-5 {
/*	height: 90%;*/
	height: 100%;
	min-height: 410px;
	padding: 15px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.pink {
	display: block;
	padding: 40px;
}

img {
	width: 100%;
	height: auto;
}

.button {
	display: flex;
	justify-content: space-around;
}

.box-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 300px;
	padding: 0 20px;
}

.box-content p {
	text-transform: uppercase;
}

.text,
.col-l-12 > h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text{
	height: inherit;
}

.text > p {
	width: 350px; 
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
}

img.align-left {
	width: 100px;
	float: left;
	margin-right: 20px;
}

.col-l-12 > h3 {
	padding: 20px;
}

button {
	display: inline-block;
	width: 120px;
	margin: 4px 2px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	cursor: pointer;
	background-color: inherit;
	background-position: 100% 0;
	background-size: 300%;
	-webkit-transition: 0.9s; 
	transition: 0.9s;
	min-height: 40px;
	color: white;
	border: 2px solid white;
}

.btn-purple {
	background-image: linear-gradient(90deg, white 50%, transparent 50%);
}

button.btn-angle {
	font-size: 40px;
	border: 0px none;
	padding: 0px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.fa {
	margin: 0 auto;
}

button:hover {
	background-position: 0 100%; 
	color: #373737;
}

/*
.btn-angle:hover {
	color: #373737;
}
*/
#box,
#box1,
#box2 {
	width:300px;
	height:350px;
	margin: 50px 15px 30px 15px;
	perspective: 300px;
	-webkit-perspective:300px;
}

#card,
#card1,
#card2 {
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	transition:1s;
	-webkit-transition:1s;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
}

#box:hover > #card, 
#box1:hover > #card1,
#box2:hover > #card2 {
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

#front,
#front1,
#front2 {
	position:absolute;
	width:100%;
	height:100%;
	background-color: grey;
	background-size:100%;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
}

#front {
	background-image: url('img/omnie.jpg');
}

#front1 {
	background-image: url('img/learn.jpg');
}

#front2 {
	background-image: url('img/future.jpg');
}

#back,
#back1, 
#back2 {
	position:absolute;
	width:100%;
	height:100%;
	background-color: #373737;
	/*        line-height:240px;*/
	/*
	color:#FFF;
	background-color:#000;
	box-shadow:0 0 4px 8px #FFF inset;
	*/
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

#front > h3,
#front1 > h3,
#front2 > h3 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 150px;
	margin: 0 auto;
	padding: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

#back > p,
#back1 > p, 
#back2 > p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}

.social_media {
	padding: 20px;
	font-size: 1.6em;
}

.row_icon {
/*	height: 10%;*/
	display: inline-block;
	width: 100%;
/*	font-size: 0;*/
}

.col-l-12 {
	height: 100%;
}

.col-l-12 > .fa {
	font-size: 40px;
	width: 100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/*
.wrapper-box {
	margin: 0 20px;
}
*/
.profil_picture > img {
	max-height: 200px;
	max-width: 150px;
	border-radius: 50%;
	margin-top: 20px;
}

/*
.wrapper-box {
	width: 400px;
}
*/
.wrapper {
	width: 100%;
	line-height: 50px;
	align-content: center;
}

.wrapper > p {
	margin: 0 20px;
	display: inline-block;
}

.wrapper > .fa {
	font-size: 26px;
}

.wrapper > a {
	padding: 0 20px;
	font-size: 18px;
}

.form-control {
/*    display: block;*/
    width: 100%;
/*    height: 34px;*/
    padding: 3px 6px;
	margin: 3px;
    font-size: 16px;
    line-height: 2/*1.42857143*/;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid white;
/*
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
*/
}

input {
    line-height: normal;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
}

input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}

div.black{
	background: black;
}

i.fa-angle-double-up {
	color: white;
}

@media (min-width: 501px) and (max-width: 768px) {
	
	[class*="col-"] {
/*		width: 100%;*/
		float: left;
/*		display: block;*/
		min-height: 1px;
	}
	
	.col-m-1 {width: 8.33%;} 
	.col-m-2 {width: 16.66%;} 
	.col-m-3 {width: 25%;} 
	.col-m-4 {width: 33.33%;} 
	.col-m-5 {width: 41.66%;} 
	.col-m-6 {width: 50%;} 
	.col-m-7 {width: 58.33%;} 
	.col-m-8 {width: 66.66%;} 
	.col-m-9 {width: 75%;} 
	.col-m-10 {width: 83.33%;} 
	.col-m-11 {width: 91.66%;} 
	.col-m-12 {width: 100%;}
	
	.col-m-offset-0 {margin-left: 0;}
	.col-m-offset-1 {margin-left: 8.33%;}
	.col-m-offset-2 {margin-left: 16.66%;}
	.col-m-offset-3 {margin-left: 25%;}
	.col-m-offset-4 {margin-left: 33.33%;}
	.col-m-offset-5 {margin-left: 41.66%;}
	.col-m-offset-6 {margin-left: 50%;}
	.col-m-offset-7 {margin-left: 58.33%;}
	.col-m-offset-8 {margin-left: 66.66%;}
	.col-m-offset-9 {margin-left: 75%;}
	.col-m-offset-10 {margin-left: 83.33%;}
	.col-m-offset-11 {margin-left: 91.66%;}
	
	.navbar {
    	position: fixed;
    	left: 0;
		top: 130px; 
	}
	
	.navbar li {
		height: 30px;
		line-height: 30px;
	}
	
	.jumbotron {
		padding: 15px;
	}
	
	.jumbotron > h1,
	h2,
	.navbar li {
		font-size: 0.95em;
	}
	
	.section_1,
	.section_2,
	.section_3,
	.col-m-5, 
	.col-m-6 {
		min-height: 350px;
	}
	
	.section_4 {
		min-height: 0px;
	}
	
	p {
		margin: 20px;
	}
	
	p,
	button,
	.form-control,
	.wrapper > a {
		font-size: 0.9em;
	}
	
	button {
		width: 80px;
		padding: 4px;
	}
	
	.box-content {
		min-height: 250px;
	}
	
	#box, 
	#box1, 
	#box2 {
		height: 300px;
		width: 250px;
		margin: 30px;
	}
	
	.text {
		min-height: 400px;
		align-items: center;
	}
	
}
	
@media(max-width: 500px) {
	
	[class*="col-"] {
		width: 100%;
		float: left;
/*		display: block;*/
		min-height: 0px;
	}
	
	.col-s-1 {width: 8.33%;} 
	.col-s-2 {width: 16.66%;} 
	.col-s-3 {width: 25%;} 
	.col-s-4 {width: 33.33%;} 
	.col-s-5 {width: 41.66%;} 
	.col-s-6 {width: 50%;} 
	.col-s-7 {width: 58.33%;} 
	.col-s-8 {width: 66.66%;} 
	.col-s-9 {width: 75%;} 
	.col-s-10 {width: 83.33%;} 
	.col-s-11 {width: 91.66%;} 
	.col-s-12 {width: 100%;}
	
	.col-s-offset-0 {margin-left: 0;}
	.col-s-offset-1 {margin-left: 8.33%;}
	.col-s-offset-2 {margin-left: 16.66%;}
	.col-s-offset-3 {margin-left: 25%;}
	.col-s-offset-4 {margin-left: 33.33%;}
	.col-s-offset-5 {margin-left: 41.66%;}
	.col-s-offset-6 {margin-left: 50%;}
	.col-s-offset-7 {margin-left: 58.33%;}
	.col-s-offset-8 {margin-left: 66.66%;}
	.col-s-offset-9 {margin-left: 75%;}
	.col-s-offset-10 {margin-left: 83.33%;}
	.col-s-offset-11 {margin-left: 91.66%;}
	
	.navbar {
		top: 130px;
	}
	
	.navbar > ul > li {
		font-size: 16px;
		padding: 0px 10px;
	}
	
	.jumbotron {
		text-align: center;
		padding: 10px;
		min-width: inherit;
	}
	 
	.jumbotron > h1 {
		font-size: 0.8em;
/*		padding: 0 24px;*/
	}
	
	.box-content {
		min-height: 200px;
	}
	
	.text {
		padding: 0 20px;
	}
	
	h2 {
		font-size: 16px;
	}
	
	h3 {
		margin: 5px;
		font-size: 16px;
		text-align: center;
	}
	
/*
	.section_1 {
		min-height: 350px;
*/
/*		height: 80vh;*/
/*	}*/
/*
	
	.section_2,
	.section_3 {
		width: 100%;
		min-height: 350px;
		height: 100vh;
	}
*/
	
/*
	.row {
		height: 100vh;
	}
*/
	
	.col-s-12 {
/*
		height: 45%;
		width: 95%;
*/
		padding: 20px;
		display: flex;
	}
	
	.col-s-12 > h3 {
    	margin: 0 auto;
		padding: 10px 20px;
	}
	
	p {
		margin: 0px 10px;
	}
	
	#box, 
	#box1, 
	#box2 {
		width: 200px;
    	height: 250px;
    	margin: 20px 5px 10px 5px;
		perspective: 300px;
		-webkit-perspective: 300px;
	}
	
	#back > p, 
	#back1 > p, 
	#back2 > p {
		font-size: 14px;
		line-height: 15px;
	}
	
	
	form {
/*		height: inherit;*/
		width: auto;
	}
	
	.form-control {
		font-size: 14px;
		padding: 2px 6px;
		height: 34px;
	}
	
	.form-group > button {
		align-content: center;
	}
	
	button {
		display: inline-block;
		margin: 4px 2px;
		padding: 5px;
		font-size: 0.8em;
		min-height: 30px;
	}
	
	img {
		height: 100%;
		width: 90%;
		margin: 30px 0;
	}
}